@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Outfit';
  src: url(./static/fonts/Outfit.ttf);
}

@font-face {
  font-family: 'Chivo';
  src: url(./static/fonts/Chivo.ttf);
}

@font-face {
  font-family: 'Gowun Batang';
  src: url(./static/fonts/GowunBatang-Regular.ttf);
}

@font-face {
  font-family: 'Gowun Batang Bold';
  src: url(./static/fonts/GowunBatang-Bold.ttf);
}

@font-face{
  font-family: 'Square Peg';
  src: url(./static/fonts/SquarePeg-Regular.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* STYLE POUR L'EFFET HOVER DES IMAGES */


.image{
  position: relative;
  overflow: hidden;
}

.image::before{
  content: '';
  position: absolute;
  inset: 0;
}

.image:hover::before{
  background: linear-gradient(0deg, rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.50) 100%);
}

.image p{
  opacity: 0;
  position: absolute;
  color:white;
  transition: 0.2s ease;
  margin-block: 0;
}

.image:hover p{
  opacity: 1;
}

/* STYLE SUPPLEMENTAIRE DE LA PAGE D'ACCUEIL */

.bg-half::before {
  content: "";
  position: absolute;
  transform: translateY(60px);
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #3c3836;
  z-index: 0;
}

/* ROTATION DU LOGO */

nav:hover .logo-image {
  animation-name: rotate; 
  animation-duration: 2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}
